services:
  vector_db:
    build:
      context: ./components/vector_db
      dockerfile: Dockerfile
    image: vector_db:latest
    ports:
      - "6333:6333"
      - "6334:6334"

  data_ingestor:
    build:
      context: ./components/data_ingestor
      dockerfile: Dockerfile
    image: data_ingestor:latest

  mcp_server:
    build:
      context: ./components/mcp_server
      dockerfile: Dockerfile
    image: mcp_server:latest
    ports:
      - "8080:8080"
    depends_on:
      - vector_db
    environment:
      - VECTOR_DB_HOST=vector_db
